<!DOCTYPE html>
<html>
<head>
  <title>API Documentation</title>
  <meta charset="utf-8">
  <style>
    
body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #f5f5f5;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
}

pre {
  background-color: #f5f5f5;
  display: block;
  padding: 8.5px;
  margin: 0 0 18px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

td.required .name:after {
  float: right;
  content: &quot;required&quot;;
  font-weight: normal;
  color: #F08080;
}

a{
  color: #95897C;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #f5f5f5;
}

h1 {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h3{
  font-size: 18px;
  line-height: 36px;
}
h4 {
  font-size: 16px;
  line-height: 36px;
}

table{
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  border-collapse: separate;
  font-size: 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-spacing: 0;
  border: 1px solid #ddd;
}

table th {
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
table th+th, table td+td {
  border-left: 1px solid #ddd;
}
table th, table td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: left;
}

  </style>
</head>
<body>
<div class="container">
  <h1>API Documentation</h1>
  <p class="explanation">
    Heart Black Art REST API consists of hand-curated works by black artists in the United States. This documentation will help you search and discover black artists and link you to their websites and social media accounts for future communications and art investments. 
  </p>
  
  <div class="article">
    <h2>Artists</h2>

      <p class="explanation">Fetch artists from the database based on optional parameters</p>

    <ul>
      <li>
        <a href="documentation/artists/get_a_specific_artist.html">Get a specific artist</a>
      </li>
      <li>
        <a href="documentation/artists/listing_artists.html">Listing artists</a>
      </li>
    </ul>
  </div>
  <div class="article">
    <h2>Locations</h2>

      <p class="explanation">Fetch locations from the database based on optional parameters</p>

    <ul>
      <li>
        <a href="documentation/locations/get_a_specific_location.html">Get a specific location</a>
      </li>
      <li>
        <a href="documentation/locations/listing_locations.html">Listing locations</a>
      </li>
    </ul>
  </div>
  <div class="article">
    <h2>Media</h2>

      <p class="explanation">Fetch media from the database based on optional parameters</p>

    <ul>
      <li>
        <a href="documentation/media/get_a_specific_medium.html">Get a specific medium</a>
      </li>
      <li>
        <a href="documentation/media/listing_media.html">Listing media</a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>

